.club-info{
    background-color: #F5F5DC;
    padding:10px;
    font-style: italic;

}
.player-info{
    width:60%;
    margin-left: 50px;
}
.transfer-market-info{
    width:40%;
    text-align:center;
    position: fixed;
    top:150px;
    right: 50px;
}